<div class="bg cont">
      <header>
        <nav class="navbar navbar-dark bg-dark">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:white" width="30" height="20" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16" [routerLink]="['/']">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            <!-- <a class="navbar-brand">Organizador de Tarefas</a> -->
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Pesquise sua Tarefa" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
        <!-- <nav class="navbar fixed-top navbar-dark bg-dark">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:white" width="30" height="20" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16" [routerLink]="['/']">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            <a class="navbar-brand">Organizador de Tarefas</a>
        </nav> -->
    </header>
    
    <section>
        <main class="container">
            <router-outlet></router-outlet>
        </main>
    </section>
    
  <div class="container-fluid textinho">
    <footer class="text-center">
        <a href="https://github.com/elaoliveira"
        target="_blank"
        class="icoGithub"> © 2022 Copyright: Rafaela Oliveira</a>
    </footer>
  </div>
</div>





